.container.shadow-box {
    border-radius: 8px;
    margin-bottom: 110px;
    background: #ffffff;
    padding: 25px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 24px rgba(68, 67, 86, 0.08);
}
.container.shadow-box h1{
    color: #000000;
    font-size: 20px;
    font-weight: 400;;
}

.container.clientsheader {
    padding-top: 60px;
    padding-bottom: 60px;
}

.col-md-4.offset-md-4 {
    text-align: right;
}

button.btn.btn-primary{
    margin-top: 29px;
    padding: 12px 16px;
}

i.fas.fa-plus {
    border: 1px solid #ffffff;
    border-radius: 50px;
    padding: 3px;
    font-size: 10px;
    margin-left: 12px;
}

i.far.fa-user-circle {
    padding-right: 9px;
}
i.fas.fa-home {
    color: #B6BEC7;
}
.title h1 {
    font-weight: 600;
    font-size: 24px;
    color: #000000;
}
button.btn.btn-primary {
    text-transform: inherit;
}

button:disabled {
    background: red;
}

/*Modal Start*/

