.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    font-family: inherit;
}
.info h4 {
    font-size: 14px;
    color: #000000;
}

.info p {
    color: #646337;
    font-size: 11px;
    font-weight: 600;
}

.info {
    line-height: 0;
    padding-right: 5px;
    text-align: right;
}

i.fas.fa-chevron-down {
    padding-left: 8px;
    color: #000;
    font-size: 11px;
}
