footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
}

.bg-light {
    background-color: #ffffff!important;
    border-top: 1px solid #e1e4ea;
}

.fw-bold {
    font-weight: 600!important;
    color: #000000;
}

footer p {
    margin-top: 0;
    margin-bottom: 4px;
}